* {
  box-sizing: border-box;
}

body, html, #root {
  /* height: 100%; */
}

.ConsoleApp {
  outline: none;
  /* height: 100%; */
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-family: "Menlo", consolas, monospace;
}

.App.top {
  padding-top: 2.6rem;
}

.line-transition-enter {
  opacity: 0.01;
}

.line-transition-enter.line-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.line-transition-leave {
  opacity: 1;
}

.line-transition-leave.line-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}