.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#editor-tab-wrap {
  width: 100%;
  height: 100%;
}

.file-name {
  margin-bottom: 0;
}

.plot-slot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  min-width: 200px;
  min-height: 200px;
  border: 1px dashed #ccc;
}

.plot-placeholder {
  line-height: 200px;
  width: 100%;
}